{% extends 'base.html' %}
{% load static %}

{% block base_content %}
<section id="account-base-section">
    {% if request.user.is_authenticated %}
    <div id="account-base-section-left-div">
        <p>
            <span class="float-left" id="logo-in-nav"><h4 id="main-name-menu">Guru<span id="main-name-span">stack</span></h4></span>
        </p>
        <ul id="profile-base-ul" class="list-unstyled">
            <li title="Home"><a class="no-txt-deco-li {% if display_section == 'home' %}active-section{% else %}text-dark{% endif %}" href="{% url 'account:home' %}"> <img
                    src="{% static 'svg/home.svg' %}" alt=""> Home</a></li>
            <li><img src="{% static 'svg/explore.svg' %}" alt="">Explore</li>
            <li><img src="{% static 'svg/notification.svg' %}" alt="">Notifications</li>
            <li><img src="{% static 'svg/messages.svg' %}" alt="">Messages</li>
            <li><img src="{% static 'svg/bookmark.svg' %}" alt="">Bookmarks</li>
            <li title="Profile">
                <a class="no-txt-deco-li {% if display_section == 'profile' %}active-section{% else %}text-dark{% endif %}" href="{% url 'account:profile' %}">
                    <img src="{% static 'svg/profile.svg' %}" alt="">Profile
                </a>
            </li>
            <li><img src="{% static 'svg/more.svg' %}" alt="">More</li>
        </ul>
        <a class="mt-3" id="new-post-a">New Post</a>
    </div>

    {% if display_section == 'home' %}
        {% include 'account/user/home-section.html' %}
    {% elif display_section == 'profile' %}
        {% include 'account/user/profile-section.html'%}
    {% endif %}

    {% endif %}
</section>
{% endblock %}
