{% load static %}

<script src="{% static 'js/reconnecting-websocket.js' %}"></script>

<script>
    const roomName = JSON.parse(document.getElementById('room-name').textContent);

    const chatSocket = new ReconnectingWebSocket(
        'ws://'
        + window.location.host
        + '/ws/messages/'
        + roomName
        + '/'
    );

    chatSocket.onmessage = function (e) {
        const data = JSON.parse(e.data);
        if (data['command'] === 'messages') {
            for (let i = 0; i < data['messages'].length; i++) {
                let message = data['messages'][i];
                createMessage(message);

            }
        } else if (data['message']['command'] === 'new_message') {
            let message = data['message']['message'];
            createMessage(message);
        }
    };

    chatSocket.onopen = function (e) {
        fetchMessages();
    };

    chatSocket.onclose = function (e) {
        console.error('Chat socket closed unexpectedly');
    };

    document.querySelector('#chat-message-input').focus();
    document.querySelector('#chat-message-input').onkeyup = function (e) {
        if (e.keyCode === 13) {  // enter, return
            document.querySelector('#chat-message-submit').click();
        }
    };

    document.querySelector('#chat-message-submit').onclick = function (e) {
        const messageInputDom = document.querySelector('#chat-message-input');
        const message = messageInputDom.value;
        if (message !== '') {
            chatSocket.send(JSON.stringify({
                'message': message,
                'command': 'new_message',
                'from': '{{ request.user.username }}',
                'to': '{{ user.username }}'
            }));
            messageInputDom.value = '';
        }
    };

    function fetchMessages() {
        chatSocket.send(JSON.stringify({
            'command': 'fetch_messages',
            'from': '{{ request.user.username }}',
            'to': '{{ user.username }}'
        }))
    }

    function createMessage(message) {
        let author = message['author'];
        let content = message['content'];
        let timestamp = message['timestamp'];
        let message_div_tag = document.createElement('div');
        let message_wrapper = document.createElement('div');
        message_wrapper.id = 'message_wrapper';
        message_div_tag.id = 'message-container';
        let message_img_tag = document.createElement('img');
        let message_p_tag = document.createElement('p');
        message_p_tag.className = 'message-content-p';
        let message_time_tag = document.createElement('small');
        message_time_tag.className = 'message-time';
        message_time_tag.textContent = timestamp;
        message_p_tag.textContent = content;

        message_img_tag.className ="d-inline who-to-follow-img rounded-circle";
        message_img_tag.height = 30;
        message_img_tag.width = 30;

        if (author === '{{request.user.username}}'){
            message_div_tag.className = 'sent';
            message_img_tag.src = "{% if request.user.profile.profile_photo %}{{ request.user.profile.profile_photo.url }}{% else %}{% if request.user.profile.gender == 'female' %}{% static '/svg/female-profile.svg' %}{% else %}{% static '/svg/male-profile.svg' %} {% endif %}{% endif %}"
        }

        else{
            message_div_tag.className = 'replies';
            message_img_tag.src = "{% if user.profile.profile_photo %}{{ user.profile.profile_photo.url }}{% else %}{% if user.profile.gender == 'female' %}{% static '/svg/female-profile.svg' %}{% else %}{% static '/svg/male-profile.svg' %} {% endif %}{% endif %}"
        }

        message_div_tag.appendChild(message_img_tag);
        message_div_tag.appendChild(message_p_tag);
        message_div_tag.appendChild(message_time_tag);
        message_wrapper.appendChild(message_div_tag);
        document.querySelector('#chat-log').appendChild(message_wrapper);
        document.getElementById('chat-log').scrollTo(0, 1012345689)
        // document.querySelector('#chat-log').value += (message['content'] + '\n');
    }

</script>
