{% extends 'base.html' %}
{% load static %}

{% block html_title %}
Gurustack - Reset Password
{% endblock %}

{% block base_content %}
<section class="h-100">
    <div class="container">
        <div class="d-flex justify-content-center pt-5">
            <div class="card">
                <div class="card-header">
                    <h3>Enter your email address</h3>
                </div>
                <div class="card-body">
                    <form class="login_form" action="." method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <div class="form-group">
                            <input type="submit" value="Change Password" class="btn login-btn">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
