{% load static %}
<div id="add-post-modal" class="modal fade-in">
    <div id="add-post-modal-content">
         <header class="edit-modal-header">
            <span onclick="document.getElementById('add-post-modal').style.display='none'"
                  class="w3-button edit-pg-modal-close-btn w3-large w3-display-topright">&times;</span>
            <h4>{{title}}</h4>
        </header>

<!--        card-footer class below makes the modal popup to look strangely beautiful-->
        <div class="overflow-nd-clear card-footer" id="add-modal-content">
            <form method="post" action="{% url 'posts:create-post' %}" enctype="multipart/form-data">
                {% csrf_token %}

                <textarea class="create-post-textarea w-100 ml-0 d-block mb-2" name="article" id="post"
                          placeholder="What's on your mind{% if request.user.last_name %}, {{ request.user.last_name }}{% endif %}?"></textarea>

                <div class="overflow-nd-clear" id="add-post-modal-tags-span">
                    {{ tag_form.as_p }}

                <label id="add-post-image-label" class="d-inline float-left mr-0" title="Upload an image" for="image">
                    <img class="upload-img-img" src="{% static 'svg/upload-img.svg' %}" alt="upload image">
                    <span class="upload-img-txt ml-1"></span>
                </label>
                </div>
                {{ image_form }}

                <div class="d-block pb-3 post-uploaded_images_div">
                    <img class="post-uploaded-img pb-1" id="output6"/>
                    <img class="post-uploaded-img pb-1" id="output7"/>
                    <img class="post-uploaded-img pb-1" id="output8"/>
                    <img class="post-uploaded-img pb-1" id="output9"/>
                    <img class="post-uploaded-img pb-1" id="output10"/>
                </div>

                <div>
                    <input type="submit" value="post" class="overflow-nd-clear submit-create-post float-left mb-2">
                </div>

            </form>
        </div>

        <div class="overflow-nd-clear">
            <hr>
            guruStack
        </div>

    </div>
</div>
