{% load static %}

<div id="account-base-section-middle-div">
    <div id="account-base-section-middle-div-content">

        <div id="profile-middle-div-top">
            <div id="middle-div-top-content-div" class="clearfix pb-0">
                <a onclick="history.back()" href="#"><img id="back-btn" class="float-left mr-3"
                                                          src="{% static 'svg/back-btn.svg' %}" alt=""></a>
                <h4 class="pb-0 mb-0">
                    <a class="text-dark no-txt-deco" href="{% url 'account:home' %}">Posts</a><br>
                </h4>

            </div>
        </div>


        <div id="profile-middle-div-middle" class="clearfix">
            <div id="middle-div-middle-content-div" class="pt-1 clearfix">
                {% include 'posts/list.html' %}
            </div>

        </div>
    </div>
    <div id="post-detail-middle-div-bottom">
        <div id="post-detail-middle-div-bottom-content" class="p-2">
            <div id="post-detail-comment-section" class="post-detail-comment-section d-block">
                <form action="{% url 'posts:add-comment' post.id %}" method="post">
                    {% csrf_token %}
                    {{ comment_form }}
                    <input class="comment-button" type="submit" value="Reply">
                </form>
            </div>
            <div id="list-of-comments-container" class="d-block">
                {% for comment in post.comments.all %}
                <div id="" class="comment-card commmentBox overflow-hidden">
                    <div class="clearfix" id="post-author-img-div">
                        {% if comment.user.profile.profile_photo %}
                        <img id="author-profile-pix" src="{{ comment.user.profile.profile_photo.url }}" alt="">
                        {% else %}
                        <img id="author-profile-demo-pix" src="{% static 'svg/male-profile.svg' %}" alt="">
                        {% endif %}
                    </div>
                    <div class="overflow-nd-clear" id="post-info">
                        <ul id="post-meta">
                            <li id="post-meta-name-li">
                                <a class="font-weight-bold text-decoration-none text-dark">
                                <span id="fullname-in-post" class="float-left">{{comment.user.first_name.title }} {{ comment.user.last_name.title }}</span>
                                    <span class="verified-icon-in-post">{% if comment.user.profile.verified %}<img id="verified-icon-in-post" src="{% static 'svg/verified.svg' %}" alt="(verified)">{% endif %}</span>
                                </a>
                            </li>
                            <li id="post-meta-time-li"><small>{{ comment.date | timesince }} ago</small></li>
                        </ul>
                        <p class="text-muted pt-1" id="post-article">@{{ comment.user.username }}</p>
                        <p class="mt-2 mb-0">{{ comment.content }}</p>
                    </div>
                </div>
                {% endfor %}
            </div>
            {% if post.comments.count >= 5 %}
            <center>
                <div id="loadMoreCommentDiv">
                    <a id="loadMoreComment" class="text-decoration-none text-dark" href="">load more</a>
                </div>
            </center>
            {% endif %}
        </div>
    </div>

</div>

</div>

{% include 'account/user/trends-and-who-to-follow-container.html' %}
