body {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
}

.gray-text{
    color: gray;
}

.overflow-nd-clear{
    overflow: hidden;
    clear: none;
}

.messages {
    margin: 5px 0px 0px 0px;
    padding: 0px;
}

.messages li {
    list-style-type: none;
}

.messages .success {
    padding: 10px;
    background-color: #ffbb00;
    border-radius: 10px;
    color: white;
    font-weight: bold;
}

.messages .error {
    padding: 10px;
    background-color: #dc0000;
    border-radius: 10px;
    color: white;
    font-weight: bold;
}

.messages li a {
    color: midnightblue;
}

#main-name-menu {
    font-family: 'Pacifico', cursive;
    color: orange;
    /*margin-top: -9px;*/
    font-size: 21px;
    display: inline;
}

#main-name-span-white {
    color: white;
}

.orange-color {
    color: orange;
}


.darkorange-color {
    color: darkorange;
}

.navbar-li {
    color: midnightblue;
    padding: 7px 7px;
    transition: .1s;

}

.navbar-li:hover {
    text-decoration: unset;
    border-bottom: 3px solid midnightblue;
}


#lp-section {
    width: 100%;
    height: 95%;
    /*background-image: radial-gradient(circle, orange, darkorange);*/
    background-image: radial-gradient(circle, midnightblue, #b3ced5);
}


#left-section-div, #right-section-div {
    height: 100%;
    display: inline;
    /*float: left;*/
    margin: 0% 0px;
}


#left-section-div {
    width: 40%;
    background-color: midnightblue;
    float: left;
    border: unset;
    overflow: hidden;
    opacity: 0.9;
}


#right-section-div {
    width: 60%;
    background-color: white;
    float: right;
    border: unset;
    opacity: .95;
}


#main-name {
    font-family: 'Pacifico', cursive;
    color: orange;
    margin-bottom: 20px;
    font-size: 35px;
}


#main-name-span {
    color: midnightblue;
}


#lp-info-ul {
    padding: 0px 45px;
}


#lp-info-ul li {
    list-style-type: none;
    color: white;
    font-family: Kanit, sans-serif;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 24px;
}


#left-section-div_content-div {
    margin-top: 38%;
}


.lp-info-img {
    width: 28px;
    height: 28px;
    margin-right: 20px;
    margin-top: -12px;
}

#lp-right-content-div {
    width: 45%;
    height: 40%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 21%;
}

.lp-paragraph {
    font-size: 20px;
    color: #343434;
}

.lp-main-btn {
    padding: 5px 10px;
    font-weight: bolder;
    border-radius: 50px;
    width: 100%;
    display: block;

}

#lp-main-btn1:hover {
    /*fill-opacity: 100%;*/
    background-color: midnightblue;

}

#lp-main-btn2:hover {
    /*fill-opacity: 100%;*/
    background-color: midnightblue;
    color: white;
    border: unset;
    /*opacity: .5;*/
}

#lp-main-btn1 {
    background-color: orange;
    color: white;
    margin-bottom: 15px;
    transition: .7s;

}

#lp-main-btn2 {
    border: 1px solid orange;
    color: orange;
    margin-top: 10px;
    transition: 1.2s;
}

.midnightblue-text {
    color: midnightblue;
}

#lp-footer-ul {
    padding: 5px 0px 0px 0px;
    margin: 0px;
}

#lp-footer-ul li {
    display: inline;
    margin-right: 20px;
    color: lightslategray;
}

#lp-footer {
    background-color: rgba(58, 58, 255, 0.08);
    height: 5%;
}

#lp-login-form {
    padding: 30px;
}

#lp-login-form input {
    border: 2px solid rgba(25, 25, 112, 0.6);
    /*border: 2px solid rgba(54, 54, 240, 0.19);*/
    border-radius: 5px;
    padding: 3px;
}

::placeholder {
    color: midnightblue;
    opacity: .7;

}

.login-btn {
    /*text-decoration-style: solid;*/
    font-size: 13px;
    font-weight: bold;
    color: white;
    letter-spacing: 1.5px;
    background-color: midnightblue;
    transition: .9s;

}

.login-btn:hover {
    background-color: darkorange;
    opacity: .8;
    color: white;
    font-weight: bold;
}

/*#####################################*/
/*#####################################*/
/*#####################################*/
/*#####################################       LOGIN PAGE*/
/*#####################################*/
/*#####################################*/

#login-pg-header {
    height: 6%;
    min-height: 45px;
    border-bottom: 1px solid darkgray;
    overflow: hidden;
    clear: none;
}


#login-header-content {
    width: 55%;
    margin: 0px auto;
}

#login-header-content ul {
    float: left;
    display: inline;
    list-style-type: none;
    padding: 9px 0px 0px 0px;
}

#login-header-content ul li {
    display: inline;
    margin-right: 20px;
    /*margin-top: 10px;*/
    color: #505050;
    font-family: Kanit, sans-serif;
}

#login-pg-section {
    background-color: #EDEDFF;
    /*background-color: #e6e6ff;*/
    /*background-color: #b4d1df;*/
    /*opacity: .1;*/
    height: 94%;
    overflow: hidden;
}


#logo-in-nav {
    padding-top: 9px;
    float: right;
}


#login-section-content {
    width: 55%;
    margin: 8px auto 0px auto;
    /*padding: 45px 20px 10px 90px;*/
    height: fit-content;
    /*height: 355px;*/
    background-color: white;
    border: 1px solid lightgray;
}


#login-section-content-top-div {
    margin: 30px 0px 0px 130px;
    width: 40%;
}

#login-section-content-top-div h2 {
    font-family: Kanit, sans-serif;
    font-size: 28px;
    letter-spacing: -.5px;
}


#login-section-content-top-div form input {
    display: block;
    margin-bottom: 10px;
    border: 1px solid #bacadb;
    border-radius: 3px;
    padding: 5px 4px;
    width: 100%;
}


#login-section-content-top-div form input::placeholder {
    color: #7a7a7a;
}


#login-section-content-top-div form label {
    margin-bottom: 0px;
    color: midnightblue;
    font-family: Kanit, sans-serif;
}


.main-login-btn {
    background-color: midnightblue;
    color: white;
    width: 100%;
    font-weight: bold;
    border-radius: 5px;
    display: block;
}

.main-login-btn:hover {
    color: orange;
    background-color: white;
    border: 1px solid orange;
}


#login-section-content-top-div2 {
    width: 100%;
    height: 93px;
    /*opacity: .5;*/
    background-color: #F3F3FF;
    padding: 25px 0px 0px 130px;

}

.forget-pwd-p a {
    color: darkorange;
    font-weight: bold;
}

#sign-up-a {
    font-weight: bold;
}


#sign-up-a:hover {
    color: midnightblue;
}


/*#####################################*/
/*#####################################*/
/*#####################################*/
/*#####################################       REGISTER PAGE*/
/*#####################################*/
/*#####################################*/


#reg-pg-section {
    height: 100%;
    min-height: 760px;
    padding: 10px 0px;
    width: 100%;
    background-color: #4E4EAB;
    overflow: hidden;
}

/*##############################*/

.errorlist {
    padding: 0px 0px 0px 5px;
}


.form-mssg {
    width: 24.7%;
    margin: 0px auto;
    /*background-color: darkorange;*/
    background-color: midnightblue;
    opacity: .9;
    padding: 5px;
    color: midnightblue;
    border-radius: 15px;
}

#messages-div {
    width: 100%;
    z-index: +1;
}

.form-mssg li {
    padding: 0px;
    list-style-type: none;
}

.errorlist li {
    color: orangered;
}

/*############################*/


#reg-pg-content-div {
    width: 43%;
    margin: 10px auto 0px auto;
}


#reg-pg-title {
    color: white;
    font-family: Kanit, sans-serif;
}


#reg-form {
    width: 61%;
    background-color: #EDEDFF;
    height: fit-content;
    margin: 0px auto;
    padding: 8px 12px;
}


#reg-form input {
    width: 100%;
    margin-top: 0px;
    margin-bottom: 15px;
    padding: 5px 4px;
    color: rgb(61, 76, 131);
}


#reg-form label {
    margin-bottom: 0px;
    font-family: Kanit, sans-serif;
    color: midnightblue;
    display: block;
}

#reg-form p {
    color: midnightblue;
    font-weight: bold;
}


#reg-form .helptext{
    color: rgba(0, 0, 0, 0.75);
}

#reg-form #id_first_name::placeholder{
    /*color: rgba(25, 25, 112, 0.41);*/
    color: rgba(0, 0, 0, 0.75);
    font-family: Kanit;
    font-size: 15px;
}


.helptext {
    font-size: 13px;
}


#reg-form #submit_form-input {
    background-color: #FFA500;
    color: white;
    font-weight: bold;
    border: none;
    padding: 10px 0px;
    transition: .9s;
}


#reg-form #submit_form-input:hover {
    background-color: midnightblue;

}


/*#####################################*/
/*#####################################*/
/*#####################################*/
/*#####################################       ACCOUNT_BASE PAGE*/
/*#####################################*/
/*#####################################*/

#profile-pix {
    border-radius: 50%;
    background-color: lightgray;
    padding: 3px;
}

#author-profile-pix, #author-profile-demo-pix {
    border-radius: 50%;
    height: 60px;
    width: 60px;
    background-color: #eeeeee;
    padding: 3px;
    /*margin: 10px;*/
}

#account-base-section {
    width: 80%;
    margin: 0px auto;
}

#account-base-section-left-div {
    width: 19%;
    display: inline;
    float: left;
}

#account-base-section-middle-div {
    width: 53%;
    display: inline;
    float: left;
    min-height: 100vh;
}

#account-base-section-middle-div-content {
    border: 1px solid #e5e5f7;
}

#account-base-section-right-div {
    padding: 3px 0;
    width: 28%;
    display: inline;
    float: right;
}

#middle-div-bottom{
    padding-bottom: 25px;
}


#profile-base-ul {
    margin-top: 40px;
    margin-bottom: 30px;
}

.active-section {
    color: darkorange;
}


#profile-base-ul li {
    margin-bottom: 25px;
    font-family: Kanit, sans-serif;
    font-weight: 700;
    font-size: 19px;
    letter-spacing: .5px;
}


#profile-base-ul li img {
    margin-right: 20px;
}


#new-post-a {
    background-color: midnightblue;
    padding: 15px 60px;
    color: white;
    font-size: 17px;
    letter-spacing: .5px;
    font-weight: bold;
    border-radius: 20px;
}

#middle-div-top-content-div h4 {
    display: inline;
    float: left;
    font-family: Kanit, sans-serif;
    font-weight: bold;
    font-size: 20px;
}

.no-txt-deco:hover {
    text-decoration: none;
}

.no-txt-deco-li {
    transition: .3s;
}

.no-txt-deco-li:hover {
    text-decoration: none;
    background-color: rgba(255, 165, 0, 0.27);
    color: orange;
    padding: 10px;
    border-radius: 20px;
}

#middle-div-top-content-div img {
    float: right;
}

#middle-div-top-content-div {
    padding: 10px 15px;
}

#middle-div-top {
    border-bottom: 2px solid #e5e5f7;
    overflow: hidden;
    clear: none;
}


#middle-div-middle-content-div {
    padding: 15px 15px 5px 10px;
    overflow: hidden;
    clear: none;
}

#middle-div-middle-content-div img {
    float: left;
}

.create-post-textarea:focus {
    outline: none;
    border: 2px solid lightgray;
}

.create-post-textarea {
    margin-top: -1px;
    margin-left: 9px;
    border: unset;
    border-radius: 5px;
    clear-side: right;
    overflow: hidden;
    resize: none;
    width: 85%;
    min-height: 70px;
    max-height: 250px;
    padding: 9px 7px;
    box-shadow: rgba(102, 141, 255, 0.07) 0px 2px 7px 8px;

}

.create-post-textarea::placeholder {
    color: gray;
    font-size: 20px;
}

#id_tags::placeholder {
    color: gray;
    font-size: 14px;
}

#tags-span label {
    font-size: 15px;
}

#tags-span label, #id_tags {
    margin-top: 15px;
}

#tags-span .helptext {
    display: block;
}

#id_tags:focus {
    border: 2px solid lightgray;
}

#id_tags {
    font-weight: bold;
    font-size: 14px;
    font-weight: bold;
    border: lightblue;
    width: 85%;
    margin-right: 3.5%;
    float: right;
    padding: 2px 7px;
    border-radius: 5px;
    box-shadow: rgba(102, 141, 255, 0.08) 0px 2px 7px 8px;
}

.selectize-control{
    border: none;
    margin-top: 5px;
}

.selectize-input{
    box-shadow: rgba(102, 141, 255, 0.08) 0px 2px 7px 8px;
    border-radius: 5px;
    min-height: 17px;
}

.selectize-dropdown-content{
    background-color: lightgray;
    overflow: hidden;
    clear: none;
    color: black;
}

/*form-control multi*/

#tags-span {
    display: none;
}

#create-post-hr {
    margin-bottom: 7px;
}

#image-label, #add-tag-label {
    padding: 8px 8px 6px 8px;
    background-color: rgba(173, 216, 230, 0.32);
    border-radius: 15px;
    margin-right: 7px;
}

#image-label:hover, #add-tag-label:hover {
    background-color: lightblue;
}

.upload-img-txt {
    color: midnightblue;
    font-size: 14px;
    font-family: Kanit, sans-serif;
}

.upload-img-img {
    margin-top: -2px;
}

.submit-create-post {
    background-color: rgba(25, 25, 112, 0.88);
    padding: 8px 25px;
    color: white;
    border: unset;
    font-weight: bold;
    font-size: 17px;
    border-radius: 20px;
    float: right;
    margin-top: -8px;
    font-family: Kanit, sans-serif;
    letter-spacing: .5px;
    transition: .9s;
}

.submit-create-post:hover {
    background-color: lightblue;
    color: midnightblue;
    /*border: 2px solid midnightblue;*/
    /*text-transform: uppercase;*/
}

#middle-div-middle {
    border-bottom: 11px solid #e5e5f7;
}

#create-post-form {
    margin-bottom: 4px;
}

.post-uploaded-img {
    background-color: rgba(173, 216, 230, 0.14);;
    /*border: 1px solid rgba(173, 216, 230, 0.39);*/
    margin-right: 9px;
    /*max-height: 100px;*/
    /*max-width: 100px;*/
    min-height: 0px;
    min-width: 0px;
}

#post-uploaded_images_div {
    display: block;
    margin-bottom: 6px;
    margin-left: 10px;
    /*display: none;*/
}

#welcome-content {
    margin-top: 25px;
}

#welcome-content h3 {
    font-weight: bold;
    font-family: Kanit, sans-serif;
}

#welcome-content p {
    font-family: Kanit, sans-serif;
    color: gray;
    padding-bottom: 13px;
}

#welcome-content a {
    font-weight: bold;
    font-family: Kanit, sans-serif;
    color: white;
    background-color: midnightblue;
    border-radius: 20px;
    padding: 8px 18px;
}

#post-wrapper {
    border-bottom: 3px solid #e5e5f7;
    overflow: hidden;
    clear: none;
    /*padding-bottom: 10px;*/
    transition: .9s;
}

#post-wrapper:hover {
    background-color: rgba(193, 240, 255, 0.27);
    border-bottom: 3px solid rgba(25, 25, 112, 0.38);
    /*background-color: rgba(255, 165, 0, 0.15);*/
}

#post-author-img-div {
    display: inline;
    float: left;
    margin-right: 15px;
}

#post-info {
    display: inline;
    width: 85%;
    float: left;
}

#post-info ul {
    list-style-type: none;
    padding: 0px;
    margin-bottom: 0;
}

#post-info ul li {
    display: inline;
    margin-right: 3px;
    font-family: Kanit, sans-serif;
    /*margin-top: -4px;*/
}

#post-meta-uname-li, #post-meta-time-li {
    color: gray;
    font-size: 18px;
}

#post-meta-uname-li a, #post-meta-time-li a {
    text-decoration: none;
    color: gray;
    font-size: 17px;
    /*margin-top: -5px;*/
}

#post-meta-uname-li:after {
    content: ' -';
}

#fullname-in-post{
    margin-top: 2.5px;
}

#fullname-in-post2{
    margin-top: 3px;
}

#verified-icon-in-post{
    margin-top: -4px;
    margin-left: 4px;
    width: 15px;
    height: 15px;
}


#verified-icon-in-post2{
    margin-top: 6.2px;
    margin-left: 4px;
    margin-right: 6px;
    width: 15px;
    height: 15px;
}

#post-article {
    display: inline;
    font-family: Kanit, sans-serif;
    padding-right: 6px;
}

.post-img-gallery-img {
    width: 100%;
    /*width: 485px;*/
    max-height: 450px;
    /*margin: 0px auto;*/
    padding: 10px 0px;
    border-radius: 5%;
}

.post-images-div {
    margin-bottom: 5px;
}

#like-nd-comment-bar {
    padding: 0 25px 0 15px;
    border-top: 1px solid rgba(82, 171, 255, 0.17);
}

#like-nd-comment-bar a {
    text-decoration: none;
    color: gray;
    font-weight: bold;
}


.blogBox {
    display: none;
}

#loadMore-div {
    background-color: orange;
    width: 100%;
    padding: 5px;
    margin-top: 5px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

#loadMore {
    color: midnightblue;
    font-weight: bolder;
    letter-spacing: 1px;
    font-family: Kanit, sans-serif, monospace;
}

.verified-icon{
    margin-top: 1px;
    width: 17px;
    height: 17px;
}

.who-to-follow-img{
    height: 43px;
    width: 43px;
}

#who-to-follow-side-container, #search-and-trend-container{
    margin-left: 18px;
    margin-top: 10px;
    border-radius: 10px;

}

.trendBox{
    display: none;
}

.who-to-follow-hr{
    margin-top: 6px;
    margin-bottom: 0;
}

#trend-side-container{
    border-radius: 10px;
}

.show-more{
    font-size: 16px;
}

#who-to-follow-side-container, #trend-side-container{
    background-color: rgba(173, 216, 230, 0.18);
    box-shadow: rgba(102, 141, 255, 0.13) 0px 2px 3px 5px;
}

.side-trend-content{
    border-bottom: 1px solid rgba(173, 216, 230, 0.27);
    padding: 12px 0;
    transition: .9s;

}
.side-trend-content:hover{
    background-color: rgba(173, 216, 230, 0.14);
    border-bottom: 1px solid rgba(25, 25, 112, 0.75);

}

#who-to-follow-side-container h5{
    padding: 0;
    margin: 0;
}

.follow-btn{
    background-color: transparent;
    border-radius: 20px;
    border: 2px solid midnightblue;
    color: midnightblue;
    padding: 1px 7px;
    transition: .1s;
    letter-spacing: 1px;
}

.unfollow-btn{
    background-color: forestgreen;
    border-radius: 20px;
    border: none;
    color: white;
    padding: 1px 7px;
    letter-spacing: 1px;
    transition: .1s;
}

.unfollow-btn:hover{
    background-color: darkred;
    border: none;
}

.unfollow:hover span {display:none}
.unfollow:hover:before {content:"Unfollow"}

.follow-btn:hover{
    border: none;
    color: white;
    background-color: forestgreen;
}

#small-user-list-div-content{
    display: block;
    border-bottom: 1px solid rgba(173, 216, 230, 0.33);
    transition: .5s;
    border-radius: 5px;
    padding: 5px 5px 5px 0;
}

#small-user-list-div-content:hover{
    background-color: rgba(173, 216, 230, 0.14);
    padding: 2px;
}

.username-on-users-list{
    font-size: 16px;
}



/*#######################################################*/
/*#######################################################*/
/*#######################################################          SEARCH RESULT TEMPLATE   */
/*#######################################################*/
/*#######################################################*/

/*#account-base-section {*/
/*    width: 78%;*/
/*    margin: 0px auto;*/
/*}*/

/*#account-base-section-left-div {*/
/*    width: 22%;*/
/*    display: inline;*/
/*    float: left;*/
/*}*/

/*#account-base-section-middle-div {*/
/*    width: 50%;*/
/*    display: inline;*/
/*    float: left;*/
/*    min-height: 100vh;*/
/*}*/


#search-result-div{
    margin-top: 10px;
}

#explore-nav-tabContent {
    padding:  0 0 10px 0;
    margin: 0;
    /*border-left: 1px solid #e5e5f7;*/
    /*border-right: 1px solid #e5e5f7;*/
    /*border-bottom: 1px solid #e5e5f7;*/
}


#nav-posts-tab, #nav-people-tab, #nav-photos-tab, #nav-videos-tab{
    border-left: none;
    border-right: none;
    border-top: none;
    transition: .7s;
    letter-spacing: .5px;
    padding-left: 25px;
    padding-right: 25px;
}

#nav-posts-tab:hover, #nav-people-tab:hover, #nav-photos-tab:hover, #nav-videos-tab:hover{
    background-color: rgba(25, 25, 112, 0.08);
    padding-left: 33px;
    padding-right: 33px;
    letter-spacing: 1px;
}

#search-result-nav-tab .active{
    border-bottom: 4px solid midnightblue;
}



/*#######################################################*/
/*#######################################################*/
/*#######################################################*/
/*     COMMENT SECTION          */
/*#######################################################*/
/*#######################################################*/
/*#######################################################*/

.comment-section {
    display: none;
}

.comment-section textarea {
    display: block;
    border: unset;
    margin: 15px 0px;
    box-shadow: rgba(82, 171, 255, 0.17) 0px 2px 7px 8px;
    border-radius: 10px;
    padding: 10px;
    resize: none;
    /*height: 180px;*/
}

.comment-section label {
    display: none;
    color: midnightblue;
}

.comment-section * {
    font-family: Kanit, sans-serif;
}

.comment-section textarea::placeholder {
    color: gray;
    font-size: 20px;
}

#id_content {
    display: block;
    margin-bottom: 10px;
}

.comment-button {
    display: block;
    background-color: orange;
    padding: 6px 12px;
    border: none;
    color: midnightblue;
    font-weight: bold;
    letter-spacing: 1px;
}

#post-detail-comment-section{
    box-shadow: lightgray 0px 2px 7px 3px;
    padding: 7px;
    overflow: hidden;
    clear: none;
    margin-bottom: 20px;
    transition: .7s;
}

#post-detail-comment-section:hover{
    box-shadow: rgba(25, 25, 112, 0.29) 0px 2px 7px 3px;
}


#post-detail-comment-section form input{
    border-radius: 5px;
    float: right;
}

#post-detail-comment-section form textarea{
    width: 100%;
    border-radius: 10px;
    margin-bottom: 8px;
    border: none;
    /*box-shadow: #e5e5f7 0px 2px 7px 3px;*/
    box-shadow: #e5e5f7 0px 2px 7px 3px;
    padding: 4px;
    display: block;
    transition: .7s;
}

#post-detail-comment-section form textarea:focus{
    box-shadow: rgba(25, 25, 112, 0.27) 0px 2px 7px 3px;
}

.comment-card{
    box-shadow: rgba(211, 211, 211, 0.53) 0px 2px 3px 3px;
    padding: 3px;
    border-radius: 9px;
    margin: 10px 10px 10px 10px;
    transition: .9s;
}

.comment-card:hover{
    background-color: rgba(54, 54, 241, 0.04);
}

#comment-content p{
    margin-bottom: 3px;
}

/*p { word-break: break-all }*/

#post-detail-middle-div-bottom{
    border: 1px solid #e5e5f7;
    overflow: hidden;
    clear: none;
}

.commmentBox{
    display: none;
}


/*#####################################*/
/*#####################################*/
/*#####################################*/
/*#####################################       PROFILE PAGE*/
/*#####################################*/
/*#####################################*/

#back-btn {
    margin-top: 3px;
}

.very-small-text {
    font-size: 14px;
    word-spacing: 0px;
    color: gray;
    font-weight: normal;
}

#main-verified-icon{
    margin-top: 4px;
}

#user-detail-wrapper {
    overflow: hidden;
    clear: none;
    padding: 20px 0px 10px 0px ;
}

#user-detail-wrapper2 {
    overflow: hidden;
    clear: none;
}

.user-detail-nav-tabs a{
    padding: 15px 50px;
}

#message-follow-btn-in-user-detail-pg{
    margin-top: -7px;
}

#message-btn-in-user-detail{
    background-color: midnightblue;
    border-radius: 20px;
    border: 2px solid midnightblue;
    color: white;
    padding: 1px 7px;
    transition: .5s;
    font-weight: bold;
    letter-spacing: 1px;
}

#message-btn-in-user-detail:hover{
    background-color: rgba(255, 140, 0, 0.55);
    color: midnightblue;
    border-color: transparent;
}



#user-profile-pix-div {
    float: left;
    display: inline;
    width: 32%;
    margin-top: 12px;
}

#user-detail-div {
    float: left;
    display: inline;
    width: 62%;
    font-family: Kanit, sans-serif;
    padding-top: 10px;
}

#profile-middle-div-top {
    padding-bottom: 5px;
    border-bottom: 2px solid #e5e5f7;
}


#profile-nav-tabContent {
    padding-bottom: 10px;
    border-left: 1px solid #e5e5f7;
    border-right: 1px solid #e5e5f7;
    border-bottom: 1px solid #e5e5f7;
}


#main-profile-pix, #main-profile-pix-demo {
    border-radius: 50%;
    border: 3px solid white;
    background-color: #e5e5f7;
}

#main-profile-pix{
    height: 170px;
    width: 170px;
    padding: 2px;
}


#main-profile-pix-demo {
    padding: 15px 18px;
    margin-top: -12px;

}

#name-and-edit-btn {
    margin-bottom: -5px;
}

* {
    font-family: Kanit, sans-serif;
}

button {
    font-family: Kanit, sans-serif;
}

#edit-profile-btn {
    border: unset;
    background-color: midnightblue;
    color: white;
    letter-spacing: .5px;
    /*border-radius: 20px;*/
    border-radius: 15px;
    padding: 7px 10px;
    margin-left: 5px;
    float: right;
    /*margin-top: -0px;*/
    font-weight: bold;
    font-size: 15px;
    transition: .2s;
}

.main-username {
    margin-top: -2px;
    margin-bottom: 13px;
}

.main-username2 {
    margin-top: -6px;
    margin-bottom: 13px;
}

.main-follow{
    margin-left: 32%;
    font-weight: bold;
    font-size: 18px;
    /*color: #4b4b4b;*/
    color: #686868;

}

.main-follow button{
    color: rgba(0, 0, 0, 0.79);
    letter-spacing: .5px;
    font-weight: bold;
}

.main-follow button:hover{
    /*color: rgba(25, 25, 112, 0.91);*/
    color: midnightblue;
    transition: .5s;
}


.main-follow2{
    font-weight: bold;
    font-size: 18px;
    color: #686868;
}

.main-follow2 button{
    color: rgba(0, 0, 0, 0.7);
    letter-spacing: .5px;
    font-weight: bold;
}

.main-follow2 button:hover{
    color: midnightblue;
    transition: .5s;
}


#profile-bio{
    /*color: gray;*/
    color: gray;
    font-family: Kanit, sans-serif;
    margin-bottom: 0px;
}

.main-date, .main-department {
    margin: 0 0 -1px 0;
}

#nav-tabContent {
    padding: 5px 13px;
}

/*#profile-nav-likes, #profile-nav-tags {*/
/*    padding-top: 9px;*/
/*}*/

#profile-nav-likes ul, #profile-nav-tags {
    margin: 0;
    padding: 0;
}

#profile-nav-likes ul li, #profile-nav-tags ul li {
    margin: 0 20px;
}


/*########################################################*/
/*########################################################*/
/*########################################################                  MODAL FOR EDIT PAGE             */
/*########################################################*/


.edit-pg-modal-close-btn {
    font-weight: bold;
    cursor: pointer;
    float: right;
    font-size: 30px;
    background-color: #ededff;
    border-radius: 50%;
    padding: 0 15px;
    margin-top: -7px;
}

.edit-pg-modal-close-btn:hover {
    background-color: rgba(255, 140, 0, 0.16);
}

.edit-pg-modal-close-btn:hover {
    color: red;
}

.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 25, 0.5);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}

#edit-profile_modal {
    display: none;
}


#edit-profile-modal-content {
    width: 35%;
    height: 90%;
    margin: 40px auto 40px auto;
    background-color: white;
    padding: 15px;
    overflow: scroll;
    border-radius: 15px;
}

#edit-profile-modal-content *, h1, h2, h3, h4, span, li, a, #followers-and-following-modal-content *{
    font-family: Kanit, sans-serif;
}

.edit-modal-header {
    padding-bottom: 10px;
    border-bottom: 1px solid #e5e5f7;
    margin-bottom: 15px;
}

.fade-in {
    animation: fadeIn ease .8s;
    -webkit-animation: fadeIn ease .8s;
    -moz-animation: fadeIn ease .8s;
    -o-animation: fadeIn ease .8s;
    -ms-animation: fadeIn ease .8s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


@-o-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


@-ms-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#small-search-box-input, #big-search-box-input{
    border-right: 0px;
    border-left: 2px solid #e5e5f7;
    border-top: 2px solid #e5e5f7;
    border-bottom: 2px solid #e5e5f7;
    box-shadow: none;
    height: 30px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

#small-search-box-input{
    width: 89%;
}

#big-search-box-input{
    width: 94%;
}

#small-search-box-input::placeholder, #big-search-box-input::placeholder{
    color: gray;
}

#small-search-box-input:focus, #big-search-box-input:focus{
    outline-color: transparent;
}

#small-search-box-button{
    border: none;
    background-color: midnightblue;
    height: 30px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

#who-to-follow-content{
    border-bottom: 1px solid rgba(173, 216, 230, 0.27);
    padding-bottom: 12px;
    padding-top: 12px;
    transition: .5s;
}

#who-to-follow-content:hover{
    background-color: rgba(173, 216, 230, 0.14);
    border-bottom: 1px solid rgba(25, 25, 112, 0.7);

}


/*########################################################*/
/*########################################################*/
/*########################################################         EDIT PROFILE MODAL FORM             */
/*########################################################*/
.create-post-textarea:focus {
    outline: none;
    border: 2px solid lightgray;
}

.create-post-textarea::placeholder {
    color: gray;
    font-size: 20px;
}

#edit-page-profile-demo-img {
    background-color: #e2e6ea;
    border-radius: 50%;
    padding: 2px;
}

#edit-page-profile-img {
    background-color: #e2e6ea;
    padding: 2px;
    border-radius: 50%;
    max-height: 90px;
    max-width: 90px;
}

#id_profile_photo {
    display: none;
}

.blue-color {
    color: royalblue;
}

.pointer-cursor {
    cursor: pointer;
}

#edit-profile-modal-form input, #edit-profile-modal-form textarea, #edit-profile-modal-form select {
    background-color: rgba(25, 25, 112, 0.03);
    padding: 7px;
    border-top: unset;
    border-bottom: 3px solid rgba(25, 25, 112, 0.13);
    border-left: unset;
    border-right: 3px solid rgba(25, 25, 112, 0.13);
    border-radius: 7px;
    transition: 1.5s;
}

#edit-profile-modal-form input:focus, #edit-profile-modal-form textarea:focus, #edit-profile-modal-form select:focus{
    box-shadow: 0 0 3px 5px rgba(59, 153, 252, 0.24);
}



#edit-profile-top-div{
    background-color: rgba(25, 25, 112, 0.05);
    padding: 13px 0 1px 10px;
    border-radius: 20px;
    border-right: 20px solid midnightblue;
    margin-bottom: 30px;
    transition: 1.5s;
}

#edit-profile-top-div:hover,#edit-profile-modal-form input:hover, #edit-profile-modal-form textarea:hover, #edit-profile-modal-form select:hover{
    background-color: rgba(255, 140, 0, 0.16);
}

#edit-profile-modal-form label {
    color: midnightblue;
    font-weight: 600;
    /*background-color: rgba(25, 25, 112, 0.03);*/
    /*width: 100%;*/
}

#edit-profile-modal-form label{
    margin-bottom: 1px;
}

.edit-profile-modal-form-edit p:nth-of-type(2){
    display: none;
}


#edit-profile-modal-form .helptext {
    display: none;
    visibility: hidden;
}


#id_bio {
    min-height: 35px;
    width: 100%;
    max-height: 80px;
    clear-side: right;
    overflow: hidden;
    resize: none;
    font-family: Kanit, sans-serif;
    display: block;
    margin-bottom: 20px;
}


#id_department,#id_interests,#id_phone_number{
    display: block;
    width: 100%;
    margin-bottom: 20px;
    font-family: Kanit;
    color: rgba(0, 0, 0, 0.67);
}

#id_year_of_entrance,#id_year_of_graduation{
    display: inline;
    margin-bottom: 20px;
    font-family: Kanit;
    color: rgba(0, 0, 0, 0.67);
}

#id_department::placeholder,#id_interests::placeholder,#id_phone_number::placeholder,#id_year_of_entrance::placeholder,
#id_year_of_graduation::placeholder, #id_bio::placeholder{
    color: rgba(25, 25, 112, 0.39);
}


#id_allow_messages {
    display: block;
}

#edit-profile-modal-form select {
    display: block;
    appearance: none;
    margin-bottom: 20px;
}

#edit-profile-modal-form select option {
    font-weight:normal;
}

#edit-profile-modal-form select:focus {
    border-color: #aaa;
    box-shadow: 0 0 1px 3px rgba(59, 153, 252, 0.24);
    color: #222;
    outline: none;
}

#edit-profile-modal-form select::-ms-expand {
    display: none;
}

#edit-page-profile-demo-img, #edit-page-profile-img {
    margin-right: 15px;
    margin-bottom: 10px;
}

#edit-profile-submit-btn{
    background-color: midnightblue;
    color: white;
    border: unset;
    padding: 10px 15px;
    margin-bottom: 20px;
}






/*########################################################*/
/*########################################################*/
/*########################################################                  MODAL FOR FOLLOWING             */
/*########################################################*/


#followers-and-following-modal {
    display: none;
}

#followers-and-following-modal-content{
    width: 32%;
    height: 90%;
    margin: 40px auto 40px auto;
    background-color: white;
    padding: 15px;
    overflow: scroll;
    border-radius: 15px;
}



/*########################################################*/
/*########################################################*/
/*########################################################                  CONNECT SECTION            */
/*########################################################*/
/*########################################################*/

#middle-div-middle-content-div-4-connect h4{
    font-weight: bold;
    font-size: 22px;
    margin-bottom: 0;
}

#middle-div-middle-content-div-4-connect p{
    padding: 0;
}

#middle-div-middle-content-div-4-connect {
    padding: 10px 15px 0 0px;
    overflow: hidden;
    clear: none;
}

#middle-div-middle-4-connect {
    border-bottom: 1px solid #e5e5f7;
}

.userListBox{
    display: none;
}

#main-user-list-div-content{
    display: block;
    border-bottom: 1px solid rgba(173, 216, 230, 0.33);
    border-radius: 5px;
    transition: .5s;
}

#main-user-list-div-content:hover{
    background-color: rgba(173, 216, 230, 0.14);
}

#main-user-list-div-content .user-bio{
    margin-left: 50px;
    margin-top: -5px;
    color: #5f5f5f;
}

.username-on-main-users-list{
    font-size: 20px;
    font-weight: bold;
}

.verified-icon-in-main-user-list{
    margin-top: 3px;
    width: 17px;
    height: 17px;
}


/*########################################################*/
/*########################################################*/
/*########################################################                  NOTIFICATION SECTION            */
/*########################################################*/
/*########################################################*/

#nav-tab .nav-tab-a{
    color: midnightblue;
    border-bottom: 3px solid midnightblue;
    border-right: none;
    transition: .5s;
}

#nav-tab .nav-tab-a:hover{
    background-color: rgba(255, 165, 0, 0.19);
    border-bottom: 3px solid orange;
}

#notification-icon-for-post, #notification-icon-for-post2, #notification-icon-for-post3, #notification-icon-for-post4{
    height: 45px;
    width: 45px;
}

.notification-list-item:hover{
    background-color: rgba(229, 229, 247, 0.27);
}

.notification-list-item{
    border-bottom: 1px solid #e5e5f7;
    padding: 5px 5px;
    transition: .7s;
}


/*########################################################*/
/*########################################################*/
/*########################################################                  MESSAGES SECTION            */
/*########################################################*/
/*########################################################*/

#small-message-button{
    background-color: midnightblue;
    border-radius: 10px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 15px 7px;
    transition: .1s;
    letter-spacing: 1px;
}


.verified-icon-conversation{
    margin-top: -5px;
    width: 17px;
    height: 17px;
}

#active-conversations-div, #chat-suggestion-div{
    border: 1px solid #e2e6ea;
    padding: 5px;
    margin-bottom: 20px;
}

.active-conversation{
    border-right: 4px solid midnightblue;

}

#no-conversation-div{
    margin-top: 50%;
    margin-bottom: 50%;
}

#middle-div-middle-content-div-messages {
    padding: 15px 15px 5px 15px;
    overflow: hidden;
    clear: none;
}

#account-base-section-middle-div-messages {
    /*width: 53%;*/
    border-left: 2px solid #e5e5f7;
    width: 32%;
    display: inline;
    float: left;
    min-height: 100vh;
}

#account-base-section-middle-div-content-messages {
    border: 1px solid #e5e5f7;

}

#account-base-section-right-div-messages {
    /*padding: 3px 0 0 0;*/
    width: 49%;
    height: 100%;
    display: inline;
    float: right;
}

#middle-div-bottom-messages{
    padding-bottom: 25px;
}

#profile-middle-div-top-messages {
    padding: 5.5px 5px;
    border-bottom: 2px solid #e5e5f7;
    border-right: 2px solid #e5e5f7;
}

#middle-div-top-content-div-messages, #profile-middle-div-mid-messages {
    padding: 0;
}

#account-base-section-right-div-container-messages{
    border-right: 2px solid #e5e5f7;
    border-left: 2px solid #e5e5f7;
    /*border-bottom: 1px solid #e5e5f7;*/
    min-height: 92vh;
    height: 99vh;
    overflow: hidden;
    clear: none;
}

/*#############################################################################*/
/*############################################################################# STILL MESSAGES*/

#message_wrapper{
    display: block;
    width: 100%;
    overflow: hidden;
    clear: none;
}

#message-container{
    display: inline-table;
    padding: 18px 0;
    width: 70%;
    overflow: hidden;
    clear: none;
}



#chat-log{
    overflow-x: hidden;
    overflow-y: scroll;
    clear: none;
    height: 89%;
    width: 100%;
    background-color: rgba(226, 230, 234, 0.25);
    padding: 3px 3px 3px 5px;
}

div * {
    scrollbar-width: thin; /* Firefox */
    -ms-overflow-style: none;
}

/* IE 10+ */  ::-webkit-scrollbar-track {
    -webkit-box-shadow: none !important;
    background-color: transparent;
}

::-webkit-scrollbar {
    width: 2px !important;
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: transparent;
}


#chat-message-input{
    width: 92%;
    height: 36px;
    display: inline;
    margin: 0 0 0 0;
    border-color: midnightblue;
    border-radius: 6px;
    padding: 3px 5px;
}
#chat-message-submit{
    margin: 1px 0 0 0;
    width: 6%;
    height: 35px;
    border: 2px solid darkorange;
    border-radius: 10px;
    display: inline;
    background-color: transparent;
}

#type-and-submit{
    margin-top: 2px;
    overflow: hidden;
    clear: none;
}

#send-button{
    min-width: 15px;
    width: 100%;
    min-height: 25px;
    height: 100%;
}

.message-content-p{
    display: inline-table;
    background-color: midnightblue;
    padding: 8px 15px;
    margin: 0;
    border-radius: 15px;
    max-width: 60%;
    color: white;
    font-weight: bold;
    font-family: sans-serif;
}

.sent small, .replies small{
    display: block;
    color: gray;
}

#message-break{
    display: inline-table;
    overflow: hidden;
    clear: both;
    font-style: italic;
}

.replies small{
    margin-left: 7px;
}

.sent small{
    margin-right: 7px;
}


.replies img{
    margin-right: 7px;
}

.sent img{
    margin-left: 7px;
}

.replies, .replies p, .replies small{
    float: left;
    margin-left: 2px;
}

.sent, .sent p, .sent small{
    float: right;
    margin-right: 2px;
}



/*#############################################################################*/
/*#############################################################################*/
/*#############################################################################      END OF MESSAGES */
/*#############################################################################*/
/*#############################################################################*/


/*start of desktop styles */

/*@media screen and (max-width: 991px) {*/
/*!* start of large tablet styles *!*/

/*}*/


@media screen and (max-width: 800px) {
    /*!* start of medium tablet styles *!*/
    #lp-section {
        width: 100%;
        height: unset;
        /*background-image: radial-gradient(circle, orange, darkorange);*/
        background-image: radial-gradient(circle, midnightblue, #b3ced5);
    }


    #left-section-div, #right-section-div {
        height: unset;
        display: block;
        /*float: revert;*/
        margin: 0% 0px;

    }

    #left-section-div {
        height: 350px;
        width: 100%;
        background-color: midnightblue;
        border: unset;
        overflow: hidden;
        opacity: 0.9;
        padding-bottom: 10px;
    }

    #right-section-div {
        width: 100%;
        height: 515px;
        background-color: white;
        border: unset;
        opacity: .95;
    }


    #main-name {
        font-family: 'Pacifico', cursive;
        color: orange;
        margin-bottom: 20px;
        font-size: 35px;
    }


    #lp-info-ul {
        padding: 0px 22px;
    }


    #lp-info-ul li {
        list-style-type: none;
        color: white;
        font-family: 'Kanit', sans-serif;
        font-size: 19px;
        font-weight: 100;
        margin-bottom: 20px;
    }


    #left-section-div_content-div {
        margin-top: 5%;
    }


    .lp-info-img {
        width: 24px;
        height: 24px;
        margin-right: 12px;
        margin-top: -7px;
    }

    #lp-right-content-div {
        width: 100%;
        height: fit-content;
        padding: 20px;
    }


    .lp-main-btn {
        padding: 5px 10px;

    }


    #lp-footer-ul {
        padding: 15px 0px 0px 0px;
        margin: 0px;
    }

    #lp-footer-ul li {
        display: inline;
        margin-right: 20px;
        color: lightslategray;
    }

    #lp-footer {
        background-color: rgba(58, 58, 255, 0.08);
        padding: 40px 0px;
        height: unset;
        /*overflow: hidden;*/
        /*clear: none;*/
        float: bottom;
    }

    #lp-login-form {
        padding: 20px;
        display: unset;
    }

    /*#####################################*/
    /*#####################################*/
    /*#####################################*/
    /*#####################################       LOGIN PAGE*/
    /*#####################################*/
    /*#####################################*/
    /*#login-pg-header{*/
    /*    height: 6%;*/
    /*    min-height: 45px;*/
    /*    border-bottom: 1px solid darkgray;*/
    /*    overflow: hidden;*/
    /*    clear: none;*/
    /*}*/
    #login-header-content {
        width: 70%;
        margin: auto auto;
    }

    #login-header-content ul {
        float: none;
        display: none;
        list-style-type: none;
        padding: 0px 0px 0px 0px;
    }


    #login-pg-section {
        background-color: #EDEDFF;
        height: 93%;
        overflow: hidden;
    }


    #logo-in-nav {
        padding: 20px 0px 2px 4px;
        float: left;
    }


    #login-section-content {
        width: 70%;
        margin: 7px auto 0px auto;
        height: fit-content;
        background-color: white;
        border: 1px solid lightgray;
    }


    #login-section-content-top-div {
        margin: 0px 0px 0px 0px;
        padding: 10px;
        width: 100%;
    }

    #login-section-content-top-div h2 {
        font-family: Kanit, sans-serif;
        font-size: 28px;
        letter-spacing: -.5px;
    }


    #login-section-content-top-div form input {
        display: block;
        margin-bottom: 10px;
        border: 1px solid #bacadb;
        border-radius: 3px;
        padding: 5px 4px;
        width: 100%;
    }


    #login-section-content-top-div form input::placeholder {
        color: #7a7a7a;
    }


    #login-section-content-top-div form label {
        margin-bottom: 0px;
        color: midnightblue;
        font-family: Kanit, sans-serif;
    }


    .main-login-btn {
        background-color: midnightblue;
        color: white;
        width: 100%;
        font-weight: bold;
        border-radius: 5px;
        display: block;
    }

    .main-login-btn:hover {
        color: orange;
        background-color: white;
        border: 1px solid orange;
    }


    #login-section-content-top-div2 {
        width: 100%;
        height: 93px;
        /*opacity: .5;*/
        background-color: #F3F3FF;
        padding: 10px;
    }


    /*#####################################*/
    /*#####################################*/
    /*#####################################*/
    /*#####################################       REGISTER PAGE*/
    /*#####################################*/
    /*#####################################*/
    /*##############################*/
    .form-mssg {
        width: 63.5%;
        border-radius: 12px;
        padding: 5px;
    }

    .errorlist {
        padding: 0px 0px 0px 5px;
    }

    /*############################*/
    #main-name-a center h1 {
        padding: 20px 0px;
    }


    #reg-pg-section {
        height: 100%;
        width: 100%;
        background-color: #4E4EAB;
        overflow: hidden;
    }


    #reg-pg-content-div {
        width: 70%;
        height: fit-content;
    }


    #reg-form {
        width: 95%;
        background-color: rgba(237, 237, 255, 0.92);
        height: fit-content;
        margin: 0px auto 10px auto;
    }


    #reg-form input {
        width: 100%;
        margin-top: 0px;
        margin-bottom: 18px;
        padding: 5px 4px;
        color: rgb(61, 76, 131);
    }


}


@media screen and (max-width: 479px) {
    /* start of phone styles */
    #lp-section {
        width: 100%;
        height: unset;
        /*background-image: radial-gradient(circle, orange, darkorange);*/
        background-image: radial-gradient(circle, midnightblue, #b3ced5);
    }


    #left-section-div, #right-section-div {
        height: unset;
        display: block;
        /*float: revert;*/
        margin: 0% 0px;

    }

    #left-section-div {
        /*height: unset;*/
        width: 100%;
        background-color: midnightblue;
        border: unset;
        overflow: hidden;
        opacity: 0.9;
        padding-bottom: 10px;
    }


    #right-section-div {
        width: 100%;
        height: 515px;
        background-color: white;
        border: unset;
        opacity: .95;
    }


    #main-name {
        font-family: 'Pacifico', cursive;
        color: orange;
        margin-bottom: 20px;
        font-size: 30px;
    }


    #lp-info-ul {
        padding: 0px 22px;
    }


    #lp-info-ul li {
        list-style-type: none;
        color: white;
        font-family: Kanit, sans-serif;
        font-size: 16px;
        font-weight: 100;
        margin-bottom: 20px;
    }


    #left-section-div_content-div {
        margin-top: 5%;
    }


    .lp-info-img {
        width: 22px;
        height: 22px;
        margin-right: 10px;
        margin-top: -7px;
    }

    #lp-right-content-div {
        width: 100%;
        height: fit-content;
        padding: 20px;
    }


    .lp-main-btn {
        padding: 3px 10px;

    }


    #lp-footer-ul {
        padding: 5px 0px 0px 0px;
        margin: 0px;
    }

    #lp-footer-ul li {
        display: inline;
        margin-right: 20px;
        color: lightslategray;
    }

    #lp-footer {
        background-color: rgba(58, 58, 255, 0.08);
        height: unset;
        /*overflow: hidden;*/
        /*clear: none;*/
        float: bottom;
    }

    #lp-login-form {
        padding: 0px;
        display: none;
    }


    /*#####################################*/
    /*#####################################*/
    /*#####################################*/
    /*#####################################       LOGIN PAGE*/
    /*#####################################*/
    /*#####################################*/
    /*#login-pg-header{*/
    /*    height: 6%;*/
    /*    min-height: 45px;*/
    /*    border-bottom: 1px solid darkgray;*/
    /*    overflow: hidden;*/
    /*    clear: none;*/
    /*}*/
    #login-header-content {
        width: 100%;
        margin: 0px auto;
    }

    #login-header-content ul {
        float: none;
        display: none;
        list-style-type: none;
        padding: 0px 0px 0px 0px;
    }

    /*#login-header-content ul li{*/
    /*    display: none;*/
    /*    margin-right: 0px;*/
    /*    color: #505050;*/
    /*    font-family: Kanit;*/
    /*}*/
    #login-pg-section {
        background-color: #EDEDFF;
        height: 93%;
        overflow: hidden;
    }


    #logo-in-nav {
        padding: 9px 0px 2px 4px;
        float: left;
    }


    #login-section-content {
        width: 100%;
        margin: 0px 0px 0px 0px;
        /*padding: 45px 20px 10px 90px;*/
        height: fit-content;
        background-color: white;
        border: 1px solid lightgray;
    }


    #login-section-content-top-div {
        margin: 0px 0px 0px 0px;
        width: 100%;
    }

    #login-section-content-top-div h2 {
        font-family: Kanit, sans-serif;
        font-size: 28px;
        letter-spacing: -.5px;
    }


    #login-section-content-top-div form input {
        display: block;
        margin-bottom: 10px;
        border: 1px solid #bacadb;
        border-radius: 3px;
        padding: 5px 4px;
        width: 100%;
    }


    #login-section-content-top-div form label {
        margin-bottom: 0px;
        color: midnightblue;
        font-family: Kanit, sans-serif;
    }


    #login-section-content-top-div form input::placeholder {
        color: #7a7a7a;
    }


    .main-login-btn {
        background-color: midnightblue;
        color: white;
        width: 100%;
        font-weight: bold;
        border-radius: 5px;
        display: block;
    }

    .main-login-btn:hover {
        color: orange;
        background-color: white;
        border: 1px solid orange;
    }


    #login-section-content-top-div2 {
        width: 100%;
        height: 93px;
        /*opacity: .5;*/
        background-color: #F3F3FF;
        padding: 10px;
    }


    /*#####################################*/
    /*#####################################*/
    /*#####################################*/
    /*#####################################       REGISTER PAGE*/
    /*#####################################*/
    /*#####################################*/
    /*##############################*/
    .form-mssg {
        width: 88.9%;
        border-radius: 12px;
        padding: 0px 0px 0px 5px;
    }

    .errorlist {
        padding: 0px 0px 0px 5px;
    }

    /*############################*/
    #main-name-a center h1 {
        /*background-color: royalblue;*/
        padding: 20px 0px;
    }


    #reg-pg-section {
        height: unset;
        width: 100%;
        background-color: #4E4EAB;
        overflow: hidden;
        /*background-color: #FFB837;*/
    }


    #reg-pg-content-div {
        width: 100%;
        height: fit-content;
        /*margin: 0px auto 0px auto;*/
    }

    #reg-pg-title {
        color: white;
        font-family: Kanit, sans-serif;
    }


    #reg-form {
        width: 95%;
        background-color: rgba(237, 237, 255, 0.92);
        /*background-color: #EDEDFF;*/
        height: fit-content;
        margin: 0px auto 10px auto;
    }


    #reg-form input {
        width: 100%;
        margin-top: 0px;
        margin-bottom: 18px;
        padding: 5px 4px;
        color: rgb(61, 76, 131);
    }


    #reg-form label {
        margin-bottom: 0px;
        font-family: Kanit, sans-serif;
        color: midnightblue;
    }

    #reg-form p {
        color: midnightblue;
        font-weight: bold;
    }


    #reg-form #submit_form-input {
        background-color: #FFA500;
        color: white;
        font-weight: bold;
        border: none;
        padding: 10px 0px;
        transition: .9s;
    }


    #reg-form #submit_form-input:hover {
        background-color: midnightblue;

    }


}