{% load static %}
<div id="edit-profile_modal" class="modal fade-in">
    <div id="edit-profile-modal-content">

        <header class="edit-modal-header">
            <span onclick="document.getElementById('edit-profile_modal').style.display='none'"
                  class="w3-button edit-pg-modal-close-btn w3-large w3-display-topright">&times;</span>
            <h4>Edit your profile</h4>
        </header>

        <div>
            <form {% if request.user.profile.department %}action="{% url 'account:edit_profile' %}" class="edit-profile-modal-form-edit"{% else %}action="{% url 'account:register_profile' %}"{% endif %} method="post" enctype="multipart/form-data" id="edit-profile-modal-form">
                <div id="edit-profile-top-div" title="{{ request.user.first_name.title }} {{ request.user.last_name.title }}'s Profile">
                {% csrf_token %}
                {% if request.user.profile.profile_photo %}
                <label id="choose-profile-image" for="id_profile_photo" class="d-inline mb-3 pointer-cursor">
                    <img id="edit-page-profile-img" class="profile_photo" src="{{request.user.profile.profile_photo.url}}" alt="">
                </label>
                {% else %}
                <label for="id_profile_photo" class="d-inline mb-3 pointer-cursor ">
                    <img id="edit-page-profile-demo-img" src="{% static 'svg/male-profile.svg' %}" alt="">
                </label>
                {% endif %}
                <p id="change-or-remove-img" class="mt-1"><strong>@{{ request.user.username }}</strong><br>
                    <label class="blue-color pointer-cursor font-weight-bold" for="id_profile_photo">change</label> or
                    <label class="blue-color pointer-cursor text-danger font-weight-bold" for="#">remove</label> profile
                    picture <br> <img id="uploaded-profile-img" src="" alt=""> </p>
                </div>
                <p class="d-none">hidden</p>
                {% if 'st.' not in request.user.email %}
                    {% if request.user.profile.department %}
                        {{ edit_staff_profile_form.as_p }}
                    {% else %}
                        {{ staff_profile_form.as_p }}
                    {% endif %}
                {% else %}
                    {% if request.user.profile.department %}
                        {{ edit_profile_form.as_p }}
                    {% else %}
                        {{ profile_form }}
                    {% endif %}
                {% endif %}


                <button type="submit" class="float-right" id="edit-profile-submit-btn">Save</button>
            </form>
        </div>

        <!--        <footer class="w3-container w3-teal">-->
        <!--            <p>Modal Footer</p>-->
        <!--        </footer>-->

    </div>
</div>
