{% load static %}

<span id="follow_unfollow_form">
    {% if request.user == user %}
    {% else%}
    <form action="/account/follow/" class="d-inline ml-2">
        {% csrf_token %}
        <button type="submit" id="follow" name="user_id" value="{{ user.id }}" {% if request.user not in user.followers.all %}class="follow-btn d-inline-table"{% else %}class="unfollow-btn d-inline-table"{% endif %}>
            {% if request.user not in user.followers.all %}
                Follow
            {% else %}
                Unfollow
            {% endif %}
        </button>
    </form>
    {% endif %}
</span>
