{% load static %}
<div id="followers-and-following-modal" class="modal fade-in">
    <div id="followers-and-following-modal-content">

        <header class="edit-modal-header">
            <span onclick="document.getElementById('followers-and-following-modal').style.display='none'"
                  class="w3-button edit-pg-modal-close-btn w3-large w3-display-topright">&times;</span>
            <h4>Follow Status</h4>
        </header>

        <div>
            <nav>
                <div class="nav nav-tabs pr-5" id="nav-tab" role="tablist">
                    <a class="nav-item nav-link text-dark active" id="nav-home-tab" data-toggle="tab"
                       href="#profile-nav-following"
                       role="tab"
                       aria-controls="nav-home" aria-selected="true">Following</a>
                    <a class="nav-item nav-link text-dark" id="nav-profile-tab" data-toggle="tab"
                       href="#profile-nav-followers"
                       role="tab"
                       aria-controls="nav-profile" aria-selected="false">Followers</a>
                </div>
            </nav>
            <div class="tab-content" id="profile-nav-tabContent">

                <div class="tab-pane fade show active" id="profile-nav-following" role="tabpanel"aria-labelledby="nav-home-tab">
                    {% if request.user.following.count >= 1 %}
                    {% for user in request.user.following.all %}
                        {%include 'account/user/small-users-list-template.html'%}
                    {% endfor %}
                    {% else %}
                    <div class="p-2">
                        <h2>Sorry, {{ request.user.username.lower }}</h2>
                        <p>You haven't followed anyone yet. Click <a href="#">here</a> to find people to follow</p>
                    </div>
                    {% endif %}
                </div>

                <div class="tab-pane fade" id="profile-nav-followers" role="tabpanel" aria-labelledby="nav-profile-tab">
                    {% if request.user.followers.count >= 1 %}
                    {% for user in request.user.followers.all %}
                        {%include 'account/user/small-users-list-template.html'%}
                    {% endfor %}
                    {% else %}
                    <div class="p-2">
                        <h2>Sorry, {{ request.user.username.lower }}</h2>
                        <p>You currently do not have any follower.</p>
                    </div>
                    {% endif %}

                </div>

            </div>
        </div>

    </div>
</div>
