{% load static %}

<span>
    {% if request.user == user %}
    {% else%}
    <form action="/account/follow/" class="d-inline ml-2">
        {% csrf_token %}
            {% if request.user not in user.followers.all %}
        <button type="submit" name="user_id" value="{{ user.id }}" class="follow follow-btn d-inline-table follower-track">Follow</button>
            {% else %}
        <button type="submit" name="user_id" value="{{ user.id }}" class="unfollow unfollow-btn d-inline-table follower-track"><span>following</span></button>
            {% endif %}
    </form>
    {% endif %}
</span>
