{% load static %}

<div id="account-base-section-middle-div">
        <div id="account-base-section-middle-div-content">
            <div id="middle-div-top">
                <div id="middle-div-top-content-div">
                    <h4><a class="text-dark no-txt-deco" href="{% url 'account:home' %}">Home</a></h4>
                    <img src="{% static 'svg/info.svg' %}" alt="">
                </div>
            </div>

            <div id="middle-div-middle">
                <div id="middle-div-middle-content-div">
<!--                    <img id="profile-pix" src="{% static 'svg/male-profile.svg' %}" alt="">-->
                    {% if request.user.profile.profile_photo %}
                    <img id="author-profile-pix" src="{{ request.user.profile.profile_photo.url }}" alt="">
                    {% else %}
                    <img id="author-profile-demo-pix" src="{% static 'svg/male-profile.svg' %}" alt="">
                    {% endif %}
                    <form id="create-post-form" method="post" action="{% url 'posts:create-post' %}"
                          enctype="multipart/form-data">
                        {% csrf_token %}

                        <textarea class="create-post-textarea" name="article" id="post"
                                  placeholder="What's on your mind, {{ request.user.last_name }}?"></textarea>

                        <span id="tags-span">
                            {{ tag_form.as_p }}
                            </span>

                        <hr id="create-post-hr">
                        <div class="clearfix d-block" id="post-uploaded_images_div">
                            <img class="post-uploaded-img" id="output1"/>
                            <img class="post-uploaded-img" id="output2"/>
                            <img class="post-uploaded-img" id="output3"/>
                            <img class="post-uploaded-img" id="output4"/>
                            <img class="post-uploaded-img" id="output5"/>
                        </div>

                        <div class="clearfix d-block mt-3">
                            <span id="create-post-icon-span">

                                <label id="image-label" title="Upload an image" for="image"><img class="upload-img-img"
                                                                                                 src="{% static 'svg/upload-img.svg' %}"
                                                                                                 alt="upload image"><span
                                        class="upload-img-txt ml-1">Upload Image</span></label>
                                {{ image_form }}

                                <label onclick="myFunction()" id="add-tag-label" title="Tag a user" for="tags"><img
                                        class="upload-img-img" src="{% static 'svg/add-tag.svg' %}" alt="tag user"><span
                                        class="upload-img-txt ml-1">Add Tag</span></label>

                                <input type="submit" value="post" class="submit-create-post">

                            </span>
                        </div>

                    </form>
                </div>
            </div>

            <div id="middle-div-bottom">
                <div id="middle-div-bottom-content">
                    {% if posts %}
                    {% include 'posts/list.html' %}
                    {% else %}
                    {% include 'account/user/welcome_content.html'%}
                    {% endif %}

                </div>
            </div>
        </div>
        <div id="loadMore-div" class="mb-2">
            <center>
                <a class="btn w-100" id="loadMore" href="#">Load More</a>
            </center>
        </div>
    </div>

    <div id="account-base-section-right-div">
        hello
    </div>