{% load static %}
<div id="account-base-section-right-div">
    {% if display_section != 'explore'%}
    <div id="search-and-trend-container">
        <div id="side-search-box">
            <form class="form-inline my-1" action="{% url 'account:explore'%}">
              <input id="small-search-box-input" class="form-control-sm p-1" type="text" placeholder="Search Gurustack" name="q">
              <button id="small-search-box-button" class="ml-0" type="submit"><img id="small-search-box-image" src="{% static 'svg/search-icon.svg' %}" alt=""></button>
            </form>
        </div>

        <div id="trend-side-container" class="pt-1 mt-3 mb-4 pl-1 pr-1">
            <h5><strong>Trends you may like</strong></h5>
            <hr class="who-to-follow-hr">
            {% for trend in trends.all %}
            <div class="side-trend-content trendBox pl-1 pr-1 pb-1 overflow-hidden clearfix">
                <div class="side-trend-list float-left">
                    <div class=" float-left mr-3 overflow-hidden clearfix">
                        <h6 class="p-0 m-0 d-inline-table"><a class="text-dark font-weight-bold" href="{% url 'account:explore' %}?q={{trend.name|slice:'1:'}}">{{ trend.name }}</a></h6>
<!--                        <p class="text-muted p-0 m-0 d-inline-table">{{ trend.name }}</p>-->
                        <small class="text-muted p-0 m-0 d-inline-table">{{ trend.num_times }} Post{{ trend.num_times|pluralize }}</small>
                    </div>
                </div>
            </div>
<!--            <hr class="who-to-follow-hr">-->
            {% endfor %}
            {% if trends.all.count >= 9 %}
            <div id="load-more-trend-div" class="mb-2">
                <center>
                    <a class="btn w-100" id="loadMoreTrend" href="#">Load More</a>
                </center>
            </div>
            {% endif %}
    </div>
    </div>
    {% endif %}


    
    
    {% if display_section != 'connect'%}
    <div id="who-to-follow-side-container" class="pt-1 pl-1 pr-1">
        <h5><strong>Who to follow</strong></h5>
        <hr class="who-to-follow-hr">
        {% for user in users_to_follow %}
        {% if request.user != user %}
        <div id="who-to-follow-content" class="d-block overflow-hidden clearfix">
            <div class="d-inline float-left">
                <div class="d-inline float-left mr-2 overflow-hidden clearfix">
                    {% if user.profile.profile_photo %}
                    <img src="{{ user.profile.profile_photo.url }}" alt="" class="d-inline who-to-follow-img rounded-circle">
                    {% else %}
                    <img src="{% if user.profile.gender == 'female' %}{% static '/svg/female-profile.svg' %}{% else %}{% static '/svg/male-profile.svg' %} {% endif %}" alt="" class="who-to-follow-img d-inline img-thumbnail rounded-circle">
                    {% endif %}
                </div>
                <div class="d-inline float-left mr-3 overflow-hidden clearfix">
                    <h6 class="p-0 m-0 d-inline-table"><a class="text-dark" href="{% url 'account:user-detail' username=user.username %}">{{ user.first_name.title }} {{ user.last_name.title }}</a> <span class="position-absolute ml-1">{% if user.profile.verified %}<img class="verified-icon d-inline" src="{% static 'svg/verified.svg' %}" alt="(verified)">{% endif %}</span></h6>
                    <p class="text-muted p-0 m-0 d-inline-table">@{{ user.username }}</p>
                </div>
            </div>
            <div id="follow-section{{user.id}}" class="follow-section follow-section{{user.id}} d-inline float-right overflow-hidden clearfix">
                {%include 'account/user/follow-unfollow-form.html'%}
            </div>
        </div>
<!--        <hr class="who-to-follow-hr">-->
        {% endif %}
        {% endfor %}
        <div class="mt-2 pl-1">
            <a href="/account/connect/" class="show-more">show more</a>
        </div>
    </div>
    {% else %}
    {% endif %}
</div>
