{% load static %}

<div id="account-base-section-middle-div">
    <div id="account-base-section-middle-div-content">

        <div id="profile-middle-div-top">
            <div id="middle-div-top-content-div" class="clearfix pb-0">
                <a onclick="history.back()" href="#"><img id="back-btn" class="float-left mr-3"
                                                          src="{% static 'svg/back-btn.svg' %}" alt=""></a>

                <h4 class="pb-0 mb-0">{{ user.first_name.title }} {{ user.last_name.title }}
                    <span class="position-absolute ml-1">{% if user.profile.verified %}<img id="main-verified-icon" src="{% static 'svg/verified.svg' %}" alt="(verified)">{% endif %}</span>
                    <span class="d-block very-small-text">{{user.post.count}} post{{user.post.count|pluralize}}</span>
                </h4>

            </div>
        </div>


        <div id="profile-middle-div-middle" class="clearfix">
            <div id="middle-div-middle-content-div" class="pt-1 clearfix">

                <div id="user-detail-wrapper2" class="clearfix d-block pl-5">
                    <div id="user-profile-pix-div" class="d-block w-100">
                        {% if user.profile.profile_photo %}
                        <img id="main-profile-pix" src="{{ user.profile.profile_photo.url }}" alt="">
                        {% else %}
                        <img id="main-profile-pix-demo" src="{% static 'svg/big-male-profile.svg' %}" alt="">
                        {% endif %}
                    </div>
                    <div class="d-block w-100 overflow-nd-clear pr-2">
                        <span class="overflow-nd-clear d-block">
                            <h4 class="pb-1 mb-0">{{ user.first_name.title }} {{ user.last_name.title }}
                                <span class="position-absolute ml-1">{% if user.profile.verified %}<img id="main-verified-icon" src="{% static 'svg/verified.svg' %}" alt="(verified)">{% endif %}</span>
                            </h4>
                        </span>

                        <p class="gray-text main-username2">@{{ user.username }} </p>
                        <p class="text-muted main-date"><img class="mr-1" src="{% static 'svg/calendar.svg' %}"
                                                             alt="calendar:"> Joined {{ user.date_joined }}</p>
                        {% if user.profile.department %}
                        <p id="profile-department" class="text-muted main-department"><img class="mr-1" src="{% static 'svg/department.svg' %}" alt="calendar:"> Department of {{ user.profile.department.title }}</p>
                        {% endif %}
                        {% if user.profile.bio %}
                        <p id="profile-bio"><img class="mr-1" src="{% static 'svg/bio.svg' %}" alt="calendar:"> {{ user.profile.bio }}</p>
                        {% endif %}
                        <p class="main-follow2 mt-2">
                            <button class="bg-transparent border-0 p-0" onclick="document.getElementById('followers-and-following-modal').style.display='block'"><span><strong>{{ user.following.count }}</strong></span> Following</button>
                            <button class="bg-transparent border-0 p-0" onclick="document.getElementById('followers-and-following-modal').style.display='block'"><span class="ml-3"><strong>{{ user.followers.count }}</strong></span> Follower</button>
                        </p>
                        {% if request.user != user %}
                        <div id="message-follow-btn-in-user-detail-pg" class="mb-2">
                            <div class="d-inline">
                                <button id="message-btn-in-user-detail">Message</button>
                            </div>

                            <div class="d-inline follow-section{{user.id}}">
                                {% include 'account/user/follow-unfollow-form.html' %}
                            </div>
                        </div>
                        {% endif %}
                    </div>
                </div>
                {% include 'account/user/followers-and-following-template.html' %}
            </div>

        </div>
    </div>
    <div id="profile-middle-div-bottom" class="mt-4">
        <div id="profile-middle-div-bottom-content">
            <nav>
                <div class="nav nav-tabs user-detail-nav-tabs" id="nav-tab" role="tablist">
                    <a class="nav-item nav-link active text-dark" id="user-detail-nav-posts-tab" data-toggle="tab"
                       href="#profile-nav-posts"
                       role="tab"
                       aria-controls="nav-home" aria-selected="true">Posts</a>
                    <a class="nav-item nav-link text-dark" id="user-detail-nav-likes-tab" data-toggle="tab"
                       href="#profile-nav-likes"
                       role="tab"
                       aria-controls="nav-profile" aria-selected="false">Likes</a>
                    <a class="nav-item nav-link text-dark" id="user-detail-nav-media-tab" data-toggle="tab"
                       href="#profile-nav-media"
                       role="tab"
                       aria-controls="nav-media" aria-selected="false">Media</a>
                </div>
            </nav>
            <div class="tab-content" id="profile-nav-tabContent">
                <div class="tab-pane fade show pl-3 pr-3 active" id="profile-nav-posts" role="tabpanel"
                     aria-labelledby="user-detail-nav-posts-tab">
                    {% include 'posts/list.html' with posts=user.post.all %}
                </div>

                <div class="tab-pane pl-3 pr-3 fade" id="profile-nav-likes" role="tabpanel" aria-labelledby="user-detail-nav-likes-tab">
                        {% include 'posts/list.html' with posts=user.posts_likes.all %}
                </div>

                <div class="tab-pane pl-3 pr-3 fade" id="profile-nav-media" role="tabpanel" aria-labelledby="user-detail-nav-media-tab">
                    {% include 'posts/list.html' with posts=media_posts %}
                </div>

            </div>
        </div>
    </div>

</div>

</div>

{% include 'account/user/trends-and-who-to-follow-container.html' %}
