{% load static %}

<!--<!doctype html>-->
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% if html_title %} {{ html_title }} {% else %} {% block html_title %} {% endblock %} {% endif %}</title>
    <link rel="stylesheet" href="{% static 'bootstrap/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Kanit&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Pacifico&display=swap" rel="stylesheet">
    <script src="{% static 'jquery/jquery-3.3.1.slim.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'jquery/jquery.min.js' %}"></script>
    <script src="{% static 'ajax/popper.min.js' %}"></script>

    <!--    <script>-->
    <!--        function showHideComment() {-->
    <!--            -->
    <!--        }-->
    <!--    </script>-->

<!--    <script type="text/javascript">-->
<!--        $(document).ready(function (event) {-->

<!--            $(document).on('click', '#', function (event) {-->
<!--                event.preventDefault();-->
<!--                var pk = $(this).attr('value')-->
<!--                $.ajax({-->
<!--                    type: 'POST',-->
<!--                    url: "{% url 'account:like-post' %}",-->
<!--                    data: {'post_id': pk, 'csrfmiddlewaretoken': '{{ csrf_token }}'},-->
<!--                    dataType: 'json',-->
<!--                    success: function (response) {-->
<!--                        $('#like-section').html(response['form'])-->
<!--                        console.log($('#like-section').html(response['form']));-->
<!--                    },-->
<!--                    error: function (rs, e) {-->
<!--                        console.log(rs.responseText);-->
<!--                    }-->
<!--                });-->
<!--            });-->
<!--        });-->
<!--    </script>-->


    <script>
        function likePost(function(event){

        })
        {

            }
    </script>


<!--        <script type="text/javascript">-->
<!--        $(document).ready(function (event) {-->
<!--            -->
<!--            $(document).on('click', '*', function (event) {-->
<!--                event.preventDefault();-->
<!--                var pk = $(this).attr('value')-->
<!--                $.ajax({-->
<!--                    type: 'POST',-->
<!--                    url: "{% url 'account:like-post' %}",-->
<!--                    data: {'post_id': pk, 'csrfmiddlewaretoken': '{{ csrf_token }}'},-->
<!--                    dataType: 'json',-->
<!--                    success: function (response) {-->
<!--                        $('#like-section').html(response['form'])-->
<!--                        console.log($('#like-section').html(response['form']));-->
<!--                    },-->
<!--                    error: function (rs, e) {-->
<!--                        console.log(rs.responseText);-->
<!--                    }-->
<!--                });-->
<!--            });-->
<!--        });-->
<!--    </script>-->


<!--        <script type="text/javascript">-->
<!--        $(document).ready(function (event) {-->

<!--                        function likePost() {-->


<!--                            // $(document).on('click', 'post_id', function (event) {-->
<!--                                event.preventDefault();-->
<!--                                var pk = $(this).attr('value')-->
<!--                                $.ajax({-->
<!--                                    type: 'POST',-->
<!--                                    url: "{% url 'account:like-post' %}",-->
<!--                                    data: {'post_id': pk, 'csrfmiddlewaretoken': '{{ csrf_token }}'},-->
<!--                                    dataType: 'json',-->
<!--                                    success: function (response) {-->
<!--                                        $('#like-section').html(response['form'])-->
<!--                                        console.log($('#like-section').html(response['form']));-->
<!--                                    },-->
<!--                                    error: function (rs, e) {-->
<!--                                        console.log(rs.responseText);-->
<!--                                    }-->
<!--                                });-->
<!--                            // });-->
<!--                        }-->
<!--        });-->
<!--    </script>-->


<!--    <script type="text/javascript">-->
<!--            function likePost(event) {-->
<!--                event.preventDefault();-->
<!--                var pk = $(this).attr('value');-->
<!--                $.ajax({-->
<!--                    type: 'POST',-->
<!--                    url: "{% url 'account:like-post' %}",-->
<!--                    data: {'post_id': pk, 'csrfmiddlewaretoken': '{{ csrf_token }}'},-->
<!--                    dataType: 'json',-->
<!--                    success: function (response) {-->
<!--                        $('#like-section').html(response['form']);-->
<!--                        console.log($('#like-section').html(response['form']));-->
<!--                    },-->
<!--                    error: function (rs, e) {-->
<!--                        console.log(rs.responseText);-->
<!--                    }-->
<!--                });-->
<!--            }-->
<!--    </script>-->


</head>

<body>
{% block base_content %}
{% endblock %}


{% include 'textarea-script.html' %}
{% include 'display-form-image-script.html' %}
{% include 'limit-file-upload-script.html' %}
{% include 'show-hide-tags-script.html' %}
</body>
</html>
