<script>
    var loadFile = function (event) {

        var fileInput = document.getElementById('image');
        var filePath = fileInput.value;
        var allowedExtensions = /(\.jpg|\.jpeg|\.png|\.gif)$/i;
        if (!allowedExtensions.exec(filePath)) {
            alert('Please upload file having extensions .jpeg/.jpg/.png/.gif only.');
            fileInput.value = '';
            return false;
        } else {
            var image1 = document.getElementById('output1');
            image1.width = 100;
            image1.height = 100;
            image1.src = URL.createObjectURL(event.target.files[0]);

                var DUP_image1 = document.getElementById('output6');
                DUP_image1.width = 100;
                DUP_image1.height = 100;
                DUP_image1.src = URL.createObjectURL(event.target.files[0]);

            var image2 = document.getElementById('output2');
            image2.src = URL.createObjectURL(event.target.files[1]);
            image2.width = 100;
            image2.height = 100;

                var DUP_image2 = document.getElementById('output7');
                DUP_image2.width = 100;
                DUP_image2.height = 100;
                DUP_image2.src = URL.createObjectURL(event.target.files[0]);

            var image3 = document.getElementById('output3');
            image3.src = URL.createObjectURL(event.target.files[2]);
            image3.width = 100;
            image3.height = 100;

                var DUP_image3 = document.getElementById('output8');
                DUP_image3.width = 100;
                DUP_image3.height = 100;
                DUP_image3.src = URL.createObjectURL(event.target.files[0]);

            var image4 = document.getElementById('output4');
            image4.src = URL.createObjectURL(event.target.files[3]);
            image4.width = 100;
            image4.height = 100;

                var DUP_image4 = document.getElementById('output9');
                DUP_image4.width = 100;
                DUP_image4.height = 100;
                DUP_image4.src = URL.createObjectURL(event.target.files[0]);

            var image5 = document.getElementById('output5');
            image5.src = URL.createObjectURL(event.target.files[4]);
            image5.width = 100;
            image5.height = 100;

                var DUP_image5 = document.getElementById('output10');
                DUP_image5.width = 100;
                DUP_image5.height = 100;
                DUP_image5.src = URL.createObjectURL(event.target.files[0]);
        }
    };


    var loadProfileImg = function (event) {
        var fileInput = document.getElementById('id_profile_photo');
        var filePath = fileInput.value;
        var allowedExtensions = /(\.jpg|\.jpeg|\.png|\.gif)$/i;
        if (!allowedExtensions.exec(filePath)) {
            alert('Please upload file having extensions .jpeg/.jpg/.png/.gif only.');
            fileInput.value = '';
            return false;
        } else {
            var image1 = document.getElementById('edit-page-profile-demo-img');
            image1.width = 90;
            image1.height = 90;
            image1.src = URL.createObjectURL(event.target.files[0]);
        }
    };
</script>
