{% load static %}

<div id="like-section{{post.id}}">
    <a title="Add Comment" onclick="showHideComment(post={{forloop.counter0}})" class="float-left btn">
        <img class="mb-1" src="{% static 'svg/comment-post.svg' %}" alt=""> {{post.comments.count }}
<!--        Comment{{post.comments.count|pluralize}}-->
    </a>
    <!--    <center>-->
    <span title="Like Post" id="like_unlike_section" class="center">
    <form action="{% url 'account:like-post' %}" class="d-inline">
        {% csrf_token %}
            <button type="submit" id="like" name="post_id" value="{{ post.id }}" class="btn like">
                {% if post in request.user.posts_likes.all %}
                    <img class="mb-1" src="{% static 'svg/unlike.svg' %}" alt=""> {{post.users_like.count}}
                {% else %}
                    <img src="{% static 'svg/like-btn.svg' %}" alt=""> {{post.users_like.count}}
                {% endif %}
            </button>
    </form>
</span>
    <!--        </center>-->

    <a title="Share Post" class="btn float-right"> <img class="mb-1" src="{% static 'svg/share-post.svg' %}" alt=""></a>
</div>
