{% load static %}


<div id="post-list" class="mb-1">
    {% if posts %}
    {% for post in posts %}
    <div id="post-wrapper" class="post-wrapper blogBox overflow-hidden clearfix">
        <div class="m-3 overflow-hidden">
            <div class="clearfix" id="post-author-img-div" onclick="location.href='{% url "account:user-detail" username=post.user.username %}';">
                {% if post.user.profile.profile_photo %}
                <img id="author-profile-pix" src="{{ post.user.profile.profile_photo.url }}" alt="">
                {% else %}
                <img id="author-profile-demo-pix" src="{% static 'svg/male-profile.svg' %}" alt="">
                {% endif %}
            </div>
            <div class="clearfix" id="post-info">
                <ul id="post-meta">
                    <li id="post-meta-name-li">
                        <a class="font-weight-bold text-decoration-none text-dark" {%if request.user == post.user%}href="{% url 'account:profile' %}"{% else %} href="{% url 'account:user-detail' username=post.user.username %}" {% endif %}>
                        <span id="fullname-in-post" class="float-left">{{post.user.first_name.title }} {{ post.user.last_name.title }}</span>
                            <span class="verified-icon-in-post">{% if post.user.profile.verified %}<img id="verified-icon-in-post" src="{% static 'svg/verified.svg' %}" alt="(verified)">{% endif %}</span>
                        </a>
                    </li>
                    <li></li>
                    <li id="post-meta-uname-li"><a href="{%if request.user == post.user%}href="{% url 'account:profile' %}"{% else %} href="{% url 'account:user-detail' username=post.user.username %}" {% endif %}">@{{ post.user.username }}</a></li>
                    <li id="post-meta-time-li"><a href="">{{ post.created | timesince }}</a></li>
                </ul>
                <article id="post-article" onclick="location.href='{{post.get_absolute_url}}';">{{ post.article }}</article>
                <div id="carouselExampleIndicators{{forloop.counter0}}" class="carousel slide post-images-div" data-ride="carousel" data-interval="false">
                    {% with forloop.counter0 as count %}
                    <ol class="carousel-indicators">
                        {% for img in post.images.all %}
                        <li data-target="#carouselExampleIndicators{{count}}" data-slide-to="{{ forloop.counter0 }}" {% if forloop.counter == 1 %}class="active"{% endif %}  ></li>
                        {% endfor %}
                    </ol>

                    <div class="carousel-inner">
                        {% for img in post.images.all %}
                        <div {% if forloop.counter == 1 %}  onclick="location.href='{{post.get_absolute_url}}';" class="carousel-item active"{% else %} class="carousel-item" {% endif %}>
                            <img class="d-block post-img-gallery-img" src="{{ img.image.url }}" alt="post-image">
                        </div>
                        {% endfor %}
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleIndicators{{forloop.counter0}}" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleIndicators{{forloop.counter0}}" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                    {% endwith %}
                </div>

                <div id="comment-section{{post.id}}" class="comment-section">
                    <a class="text-decoration-none mb-2" href="{{post.get_absolute_url}}">view comment{{post.comments.count|pluralize}}</a>
                    <h6 class="mb-0 pb-0">Reply This Post</h6>
                    <form action="{% url 'posts:add-comment' post.id %}" method="post">
                        {% csrf_token %}
                        {{ comment_form }}
                        <br>
                        <input class="comment-button" type="submit" value="Reply">
                    </form>
                </div>
            </div>
        </div>

        <div id="like-nd-comment-bar">
            <center>
                {% include 'posts/like_section.html' %}
            </center>
        </div>
    </div>
    {% endfor %}


    {% elif post %}
        <div id="post-wrapper" class="post-wrapper blogBox">
            <div class="m-2 overflow-hidden">
                <div class="clearfix mr-2" id="post-author-img-div" onclick="location.href='{% url "account:user-detail" username=post.user.username %}';">
                    {% if post.user.profile.profile_photo %}
                    <img id="author-profile-pix" src="{{ post.user.profile.profile_photo.url }}" alt="">
                    {% else %}
                    <img id="author-profile-demo-pix" src="{% static 'svg/male-profile.svg' %}" alt="">
                    {% endif %}
                </div>
                <div class="overflow-nd-clear d-block">
                    <ul id="post-meta" class="p-0 m-0 d-inline-block">
                        <li class="list-unstyled">
                            <a class="font-weight-bold text-decoration-none text-dark" {%if request.user == post.user%}href="{% url 'account:profile' %}"{% else %} href="{% url 'account:user-detail' username=post.user.username %}" {% endif %}>
                            <span id="fullname-in-post" class="float-left">{{post.user.first_name.title }} {{ post.user.last_name.title }}</span>
                                <span class="verified-icon-in-post2">{% if post.user.profile.verified %}<img id="verified-icon-in-post2" src="{% static 'svg/verified.svg' %}" alt="(verified)">{% endif %}</span>
                            </a>
                        </li>
                    </ul>
                    <p class="p-0 m-0 text-muted">@{{ post.user.username }}</p>
                    <p class="p-0 m-0">{{ post.article }}</p>
                    <div id="carouselExampleIndicators{{forloop.counter0}}" class="carousel slide post-images-div" data-ride="carousel" data-interval="false">
                        {% with forloop.counter0 as count %}
                        <ol class="carousel-indicators">
                            {% for img in post.images.all %}
                            <li data-target="#carouselExampleIndicators{{count}}" data-slide-to="{{ forloop.counter0 }}" {% if forloop.counter == 1 %}class="active"{% endif %}  ></li>
                            {% endfor %}
                        </ol>

                        <div class="carousel-inner">
                            {% for img in post.images.all %}
                            <div {% if forloop.counter == 1 %} class="carousel-item active"{% else %} class="carousel-item" {% endif %}>
                                <img class="d-block post-img-gallery-img" src="{{ img.image.url }}" alt="post-image">
                            </div>
                            {% endfor %}
                        </div>
                        <a class="carousel-control-prev" href="#carouselExampleIndicators{{forloop.counter0}}" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleIndicators{{forloop.counter0}}" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                        {% endwith %}
                    </div>
                    <small class="text-muted float-right"><span class="text-dark">posted</span> {{ post.created | timesince }} ago</small>
                    {% for tag in post.tag.all %}
                    {% if tag.tags.all %}
                        <small class="mr-2">with:
                            <span class="text-muted">{% for tag in tag.tags.all %} {% if '@' in tag.name %}
                            <a class="text-dark" {% if request.user.username == tag.name|slice:'1:' %}href="{% url 'account:profile' %}"{% else %} href="{% url 'account:user-detail' username=tag.name|slice:'1:' %}" {% endif %}">{{tag}}</a>{% else %} - {% endif %} {% endfor %}
                        </span></small>
                    {% endif %}
                    {% endfor %}

                    {% for tag in post.tag.all %}
                    {% if tag.tags.all %}
                    <small class="mr-2 d-block">Tags: <span class="text-muted">{% for tag in tag.tags.all %} {% if '#' in tag.name %} <a class="text-dark" href="{% url 'account:explore' %}?q={{ tag.name|slice:'1:' }}">{{tag}}</a> {% else%}-{% endif %} {% endfor %}</span></small>
                    {% endif %}
                    {% endfor %}

                    {% if post.users_like.count >= 1 %}
                    <small class="d-block text-muted"><span class="text-dark">Liked by</span> {% for user in post.users_like.all%} {%if forloop.last and not forloop.first %} and {% endif %} @{{ user }}{%if not forloop.last%},{% endif %} {% endfor%}</small>
                    {% endif %}

                    {% if request.user == post.user %}
                    <div>
                        <a class="btn bg-success float-right" href="#">Edit Post</a>
                    </div>
                    {% endif %}

                </div>
            </div>

            <div id="like-nd-comment-bar">
                <center>
                    {% include 'posts/like_section.html' %}
                </center>
            </div>
        </div>
    {% endif %}
</div>

